<div class="right">
  <h3>Users</h3>
  <ul *ngIf="users$">
    <li *ngFor="let user of users$ | async">
      <div class="left" (click)="delUser(user.id)">
        {{ user.id }} - {{ user.name }} - {{ user.email }}
      </div>
      <div class="right">
        <input type="text" placeholder="appendName" #appendName>
        <button (click)="appendTextToUserName(user.id, user.name, appendName.value)">Append Text</button>
      </div>
    </li>
  </ul>
  <ul *ngIf="usersTestFormService">
    <li *ngFor="let usersTest of usersTestFormService">
        {{ usersTest.id }} - {{ usersTest.name }} - {{ usersTest.email }}
    </li>
  </ul>
</div>
